services:
  twingate:
    container_name: tg-connector01
    image: twingate/connector:1.82.0
    env_file:
      - .env
    environment:
      # CA bundle inside container (standard)
      - SSL_CERT_FILE=/etc/ssl/certs/ca-certificates.crt

      # Twingate connector settings
      #- TWINGATE_API_ENDPOINT=/connector.stock
      - TWINGATE_NETWORK=routessh
      - TWINGATE_STATE_DNS=10.172.192.1

      # Tokens loaded from .env
      - TWINGATE_ACCESS_TOKEN=${TWINGATE_ACCESS_TOKEN}
      - TWINGATE_REFRESH_TOKEN=${TWINGATE_REFRESH_TOKEN}

      # Optional logging
      - TWINGATE_LOG_LEVEL=1

    sysctls:
      # Allows non-root ping (some people include this; harmless)
      net.ipv4.ping_group_range: "0 2147483647"

    networks:
      - reverse-proxy  # typically where Traefik / web apps live
      - twingate-internal   # typically internal services / admin-only apps

    restart: unless-stopped

networks:
  reverse-proxy:
    external: true
  twingate-internal:
    external: true